:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

	--bg-primary: #cabdbd;
	--white: #ffffff;
	--white-3: rgba(255, 255, 255, 0.3);
	--white-5: rgba(255, 255, 255, 0.5);
	--white-8: rgba(255, 255, 255, 0.8);
	--black: #000000;
	--black-2: rgba(0, 0, 0, 0.2);
	--black-3: rgba(0, 0, 0, 0.3);
	--black-5: rgba(0, 0, 0, 0.5);
	--black-8: rgba(0, 0, 0, 0.8);
	--primary: #00d154;
	--primary-d: #00a542;
	--secondary: #282626;
	--redish: #a36666;
	--redish-5: rgba(163, 102, 102, 0.5);
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--bg-primary);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#main {
	display: flex;
	flex-direction: column;
	gap: 15rem;
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
}

#main > article:first-of-type {
	margin-top: 15rem;
}

#main_nav {
	position: fixed;
	width: 100%;
	padding: 2rem 5%;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-primary);
	box-shadow: 0 0 1rem var(--black-3), 0 0 1rem var(--black-3) inset;
	z-index: 1000;
}

.main_nav__logo {
	padding-top: 2rem;
}

.main_nav__list {
}

.main_nav__list::after {
	display: table;
	clear: both;
}

.main_nav__list__right {
	float: right;
}

.main_nav__list__item {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}

.main_nav__list__item:not(:last-child) {
	margin-right: 2rem;
}

.main_nav__list__item :is(a, a:visited, a:link, button) {
	text-decoration: none;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--black);
	cursor: pointer;
	font-weight: normal;
	font-size: 1.6rem;
}

.cta {
	display: inline-block;
	background-color: var(--primary);
	color: var(--white);
	padding: 2rem 3rem;
	text-decoration: none;
	font-size: 1.6rem;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 2rem;
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		-0.5rem -0.5rem 0.5rem var(--black-3) inset,
		0.5rem 0.5rem 0.5rem var(--white-3) inset;
	font-weight: bold;
	transition: all 0.1s ease;
}

.cta:hover,
.cta:focus,
.cta:focus-visible {
	outline: none;
	background-color: var(--primary-d);
	padding-top: 2.2rem;
	padding-bottom: 1.8rem;
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-3) inset,
		-0.5rem -0.5rem 0.5rem var(--white-3) inset;
}

.cta:active {
	box-shadow: 1rem 1rem 1rem var(--black-3),
		1rem 1rem 1rem var(--black-3) inset,
		-1rem -1rem 1rem var(--white-3) inset;
}

footer {
	display: block;
	position: relative;
	margin-top: auto;
	background-color: var(--black-5);
	color: var(--white);
	padding: 2rem 0;
	text-align: center;
	font-size: 2rem;
}

@media screen and (max-width: 1000px) {
	.main_nav__list__item :is(a, a:visited, a:link, button),
	footer {
		font-size: clamp(1.2rem, 1.8vmin, 2rem);
	}

	#main {
		gap: 20vmin;
	}
}
