.form {
	width: 50rem;
	position: relative;
	margin: 15rem auto;
	display: flex;
	flex-direction: column;
}

.form__warning_container {
	margin: 1rem 0;
	position: relative;
}

.form__warning {
	display: block;
	list-style: none;
	background-color: var(--redish);
	color: var(--white);
	padding: 1rem 2rem;
	margin: 1rem 0;
	border-radius: 2rem;
}

.form__group {
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.form__group--1 {
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-left: 15rem;
	margin-bottom: 2rem;
}

.form__label,
.form__label--1,
.form__warning {
	font-size: 1.6rem;
}

.form__label {
	color: var(--black);
	width: 15rem;
	user-select: none;
}

.form__label--1 {
	color: var(--black);
	margin-left: 1rem;
}

.form__input {
	outline: none;
	border: none;
	padding: 1rem 2rem;
	color: var(--black);
	border-radius: 2rem;
	flex-grow: 1;
	background-color: var(--bg-primary);
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		-0.5rem -0.5rem 0.5rem var(--black-3) inset,
		0.5rem 0.5rem 0.5rem var(--white-3) inset;
	transition: all 0.1s ease;
}

.form__input:focus,
.form__input:focus-visible {
	color: var(--white);
	background-color: var(--black-3);
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-3) inset,
		-0.5rem -0.5rem 0.5rem var(--white-3) inset;
}

.form__checkbox {
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 6rem;
	height: 4rem;
	cursor: pointer;
}

.form__checkbox::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4rem;
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-5),
		-0.5rem -0.5rem 0.5rem var(--black-5) inset,
		0.5rem 0.5rem 0.5rem var(--white-5) inset;
	background-color: var(--bg-primary);
	transition: box-shadow 0.3s ease;
	transition: background-color 0.3s ease;
}

.form__checkbox::after {
	content: '';
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	background-color: var(--black-3);
	transition: all 0.3s ease;
}

.form__checkbox:focus,
.form__checkbox:focus-visible {
	outline: none;
	border: none;
}

.form__checkbox:hover::after,
.form__checkbox:focus::after,
.form__checkbox:focus-visible::after {
	background-color: var(--black-5);
}

.form__checkbox:active::before {
	background-color: var(--black-2);
}

.form__checkbox:checked::before {
	background-color: var(--black-2);
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-5) inset,
		-0.5rem -0.5rem 0.5rem var(--white-5) inset;
}

.form__checkbox:checked::after {
	left: 3rem;
	background-color: var(--primary);
}

.form__link,
.form__link:visited,
.form__link:link {
	text-decoration: none;
	color: var(--redish);
	font-weight: bold;
}

.form__submit {
	padding: 1rem;
	width: 20rem;
	margin: 0 auto;
}

.form__submit:focus,
.form__submit:hover {
	padding: 1rem;
}

.register_warning {
	text-align: center;
	padding: 2rem;
	margin-bottom: 2rem;
	border: 1px solid var(--secondary);
	background-color: var(--redish-5);
	color: var(--secondary);
	font-size: 1.6rem;
	border-radius: 2rem;
}

.register_warning__title {
	display: block;
}

@media screen and (max-width: 700px) {
	.form {
		width: 90%;
	}

	.form__label {
		width: 10rem;
	}

	.form__label,
	.form__label--1,
	.form__warning {
		font-size: 1.2rem;
	}

	.form__group--1 {
		margin-left: 10rem;
	}
}
