.form {
	display: block;
	position: absolute;
	left: 50%;
	top: 7rem;
	transform: translateX(-50%);
	white-space: nowrap;
	max-width: 57rem;
}

.form::after {
	display: table;
	clear: both;
}

.form__right {
	float: right;
}

.form__right--1 {
	float: right;
}

.form__right:focus-within,
.form__right--1:focus-within {
	outline: none;
	border: none;
}

.form__right > * {
	display: inline-block;
	vertical-align: middle;
	margin: 1rem 0;
}

.form__right > *:not(:last-child) {
	margin-right: 1rem;
}

.form__right__text {
	font-size: 1.2rem;
	color: var(--lightgray);
}

.form__primary {
	display: inline-block;
	margin-right: 2rem;
}

.form__primary img {
	font-size: 1.6rem;
}

.form__primary--last {
	display: inline-block;
}

.form_label {
	font-size: 1.6rem;
	color: var(--white);
	margin-right: 2rem;
	padding: 1rem 0;
	display: inline-block;
	vertical-align: middle;
}

.form_label--1 {
	white-space: normal;
	font-size: 1.6rem;
	color: var(--lightgray);
	margin-right: 2rem;
	padding: 1rem 0;
	display: inline-block;
	vertical-align: middle;
}

.form_input--number {
	background-color: transparent;
	color: var(--white);
	font-size: 1.6rem;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 7rem;
	outline: none;
	border: none;
	border-bottom: 0.1rem solid var(--white);
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form_input--number:focus {
	border-bottom: 0.1rem solid var(--primary);
	color: var(--primary);
}

.form_checkbox {
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 6rem;
	height: 4rem;
	cursor: pointer;
}

.form_checkbox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4rem;
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-5),
		-0.5rem -0.5rem 0.5rem var(--black-5) inset,
		0.5rem 0.5rem 0.5rem var(--white-5) inset;
	background-color: var(--white);
	transition: box-shadow 0.3s ease;
	transition: background-color 0.3s ease;
}

.form_checkbox::after {
	content: "";
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	background-color: var(--lightgray);
	transition: all 0.3s ease;
}

.form_checkbox:focus,
.form_checkbox:focus-visible {
	outline: none;
	border: none;
}

.form_checkbox:hover::after,
.form_checkbox:focus::after,
.form_checkbox:focus-visible::after {
	background-color: var(--black-5);
}

.form_checkbox:active::before {
	background-color: var(--lightgray);
}

.form_checkbox:checked::before {
	background-color: var(--lightgray);
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-5) inset,
		-0.5rem -0.5rem 0.5rem var(--white-5) inset;
}

.form_checkbox:checked::after {
	left: 3rem;
	background-color: var(--primary);
}

.form__diet {
	font-size: 1.6rem;
	font-weight: bold;
	outline: none;
	border: none;
	color: var(--white);
}

.form__diet__label {
	margin-right: 1rem;
}

.select_reset {
	all: unset;
	font-weight: normal;
	text-align: center;
	color: var(--black);
}

.form__more_options__bg {
	position: absolute;
	top: -5rem;
	left: -5rem;
	width: calc(100% + 10rem);
	height: 0;
	background-color: var(--tertiarty);
	opacity: 0;
	z-index: -1;
	border-radius: 2rem;
	box-shadow: none;
	animation: more_options__bg 0.3s ease-in forwards,
		more_options__bg--shadow 0.3s 0.3s ease-in-out forwards;
	transition: height 0.3s ease-out;
}

@keyframes more_options__bg {
	0% {
		height: 0;
		opacity: 0;
	}
	100% {
		height: calc(100% + 10rem);
		opacity: 0.5;
	}
}

@keyframes more_options__bg--shadow {
	0% {
		box-shadow: none;
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
			-0.5rem -0.5rem 0.5rem var(--black-3) inset,
			0.5rem 0.5rem 0.5rem var(--white-1) inset;
	}
}

.form__more_options {
	display: block;
	border: none;
	outline: none;
	opacity: 0;
	animation: more_options 0.3s 0.3s ease-in forwards;
}

@keyframes more_options {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.form__more_options__row {
	display: block;
	padding: 2rem 0;
	border: none;
	outline: none;
}

.form__more_options__row--1 {
	display: block;
	color: var(--white);
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	outline: none;
}

.form__more_options__row--1:not(:last-child) {
	margin-bottom: 2rem;
}

.form__text--small {
	display: inline-block;
	width: 100%;
	font-size: 1.2rem;
	text-align: center;
	color: var(--lightgray);
}

@media screen and (max-width: 700px) {
	.form {
		width: 100%;
		padding: 0 2rem;
		top: 3rem;
	}

	.form__more_options__row {
		text-align: left;
	}

	.form__primary {
		margin-bottom: 2rem;
	}

	.form__primary img {
		height: 1.2rem;
	}

	.form_label,
	.form_label--1,
	.form__right,
	.form_input--number,
	.form__diet,
	.form__primary {
		font-size: 1.2rem;
	}

	.form__right__text,
	.form__text--small {
		font-size: 1rem;
	}
}

#form_submit--1 {
	display: inline-block;
}

#form_submit--2 {
	display: none;
}

@media screen and (max-width: 512px) {
	#form_submit--1 {
		display: none;
	}

	#form_submit--2 {
		display: block;
		margin: 0 auto;
	}
}
