.form {
    display: block;
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    white-space: nowrap;
}

.form::after {
    display: table;
    clear: both;
}

.form__right {
    float: right;
}

.form__right--1 {
    float: right;
}

.form__right > * {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem 0;
}

.form__right > *:not(:last-child) {
    margin-right: 1rem;
}

.form__right__text {
    font-size: 1.2rem;
    color: var(--lightgray);
}


.form__primary {
    display: inline-block;
    margin-right: 2rem;
}

.form__primary--last {
    display: inline-block;
}

.form_label {
    font-size: 1.6rem;
    color: white;
    margin-right: 2rem;
    padding: 1rem 0;
    display: inline-block;
    vertical-align: middle;
}

.form_input--number {
    background-color: transparent;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 7rem;
    outline: none;
    border: none;
    border-bottom: .1rem solid var(--white);
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form_input--number:focus {
    border-bottom: .1rem solid var(--primary);
    color: var(--primary);
}

.form_checkbox {
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 6rem;
    height: 4rem;
    cursor: pointer;
}

.form_checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black-5),
        -0.5rem -0.5rem 0.5rem var(--black-5) inset,
        0.5rem 0.5rem 0.5rem var(--white-5) inset;
    background-color: var(--white);
    transition: box-shadow 0.3s ease;
    transition: background-color 0.3s ease;
}

.form_checkbox::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--lightgray);
    transition: all 0.3s ease;
}

.form_checkbox:checked::before {
    background-color: var(--lightgray);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
        0.5rem 0.5rem 0.5rem var(--black-5) inset,
        -0.5rem -0.5rem 0.5rem var(--white-5) inset;
}

.form_checkbox:checked::after {
    left: 3rem;
    background-color: var(--primary);
}

.form__diet {
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    border: none;
    color: var(--white);
}

.form__diet__label {
    margin-right: 1rem;
}

.select_reset {
    all: unset;
    text-align: center;
    font-weight: bold;
    color: var(--black);
}

.form__more_options {
    display: block;
    padding: 2rem 0;
    border: none;
    outline: none;
}

.form__more_options__row {
    display: block;
    padding: 2rem 0;
    border: none;
    outline: none;
}

.form__more_options__row--1 {
    display: block;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    outline: none;
}

.form__more_options__row--1:not(:last-child) {
    margin-bottom: 2rem;
}

.form__text--small {
    margin: 0 2rem;
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--lightgray);
}