#app_container {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

#watermark {
	user-select: none;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15rem;
	color: var(--white-1);
}

#user__toggler {
	background-color: var(--white);
	display: block;
	position: fixed;
	top: 7rem;
	right: 5rem;
	padding: 1rem 1.5rem;
	border-radius: 100%;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		-0.5rem -0.5rem 0.5rem var(--black-5) inset,
		0.5rem 0.5rem 0.5rem var(--white-5) inset;
	transition: all 0.1s ease;
	z-index: 150;
}

#user__toggler:is(:hover, :focus) {
	background-color: var(--lightgray);
}

#user__toggler:active {
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-5) inset,
		-0.5rem -0.5rem 0.5rem var(--white-5) inset;
}

.allergens__input__overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black-8);
	z-index: 200;
}

.allergens__input {
	display: block;
	position: absolute;
	width: 50rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 250;
}

.allergens__input__label {
	display: block;
	margin-bottom: 2rem;
	color: var(--lightgray);
	font-size: 1.6rem;
	font-weight: bold;
}

.allergens__input__input {
	display: inline-block;
	width: 42rem;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 0.1rem solid var(--white);
	padding: 1rem 0;
	color: var(--white);
	font-size: 1.6rem;
}

.allergens__input__input:focus {
	border-bottom: 0.1rem solid var(--primary);
}

.allergens__input__submit {
	display: inline-block;
	margin-left: 1rem;
}

@media screen and (max-width: 800px) {
	.allergens__input {
		top: 20%;
		width: 100%;
		padding: 0 2rem;
	}
	.allergens__input__input {
		width: calc(100% - 7rem - 2rem);
	}
}

.res_container {
	width: 80rem;
	margin: 10rem auto;
}

.res_container__title {
	font-size: 4rem;
	color: var(--primary);
	text-align: center;
}

.res_container__macros {
	font-size: 1.6rem;
	margin-top: 5rem;
}

.res_container__macros dt {
	color: var(--white);
	font-size: 2rem;
}

.res_container__macros dd {
	color: var(--lightgray);
	margin-top: 0.5rem;
}

.res_container__macros dd:nth-child(2) {
	margin-top: 1rem;
}

.res_container__meal_plan {
	display: block;
	position: relative;
	width: calc(100% + 4rem);
	font-size: 2rem;
	font-family: 'Courier New', Courier, monospace;
	background-color: var(--black-8);
	padding: 2.5rem;
	margin-top: 5rem;
	margin-left: -2rem;
	border-radius: 2rem;
	color: var(--white);
	white-space: pre-wrap;
}

.res_container__meal_plan__cta_section {
	margin-top: 5rem;
	text-align: center;
	display: none;
	opacity: 0;
	animation: cta_section 0.3s ease-in forwards;
}

@keyframes cta_section {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.res_container__meal_plan__cta_section .cta--1 {
	font-size: 2rem;
}

@media screen and (max-width: 860px) {
	.res_container {
		width: 100%;
		padding: 0 2rem;
		margin: 5rem auto;
	}

	.res_container__macros {
		margin-left: 2rem;
	}

	.res_container__meal_plan {
		margin-left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.res_container__title {
		font-size: 3rem;
	}

	.res_container__macros {
		font-size: 1.2rem;
	}

	.res_container__macros dt {
		font-size: 1.6rem;
	}

	.res_container__meal_plan {
		font-size: 1.6rem;
	}

	.res_container__meal_plan__cta_section .cta--1 {
		font-size: 1.6rem;
	}
}

.btn--1 {
	font-size: 1.6rem;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	background-color: var(--white);
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		-0.5rem -0.5rem 0.5rem var(--black-5) inset,
		0.5rem 0.5rem 0.5rem var(--white-5) inset;
	transition: all 0.3s ease;
}

.btn--1 > * {
	height: 1.6rem;
}

.btn--1:active {
	background-color: var(--lightgray);
}

.btn--1--active {
	background-color: var(--lightgray);
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-5) inset,
		-0.5rem -0.5rem 0.5rem var(--white-5) inset;
}

.cta--1 {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	background-color: var(--primary);
	color: var(--white);
	box-shadow: 0 0.25rem 0.5rem var(--black-3);
	transition: all 0.3s ease;
}

.cta--1:hover {
	box-shadow: 0 0.5rem 1rem var(--black-3);
	transform: translateY(-0.3rem);
}

.cta--1:active {
	box-shadow: 0 0.1rem 0.1rem var(--black-3);
	transform: translateY(0.1rem);
}

.btn--1:focus,
.btn--1:focus-visible,
.cta--1:focus,
.cta--1:focus-visible {
	background-color: var(--lightgray);
}

@media screen and (max-width: 800px) {
	#user__toggler {
		top: 3rem;
		right: 3rem;
	}
}

@media screen and (max-width: 700px) {
	.btn--1,
	.cta--1 {
		font-size: 1.2rem;
	}
}
