.help-tooltip {
	flex-shrink: 0;
	font-size: 0.9rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	text-align: center;
	border: 1px solid var(--black-5);
	color: var(--black-5);
	cursor: default;
}

.help-tooltip:hover,
.help-tooltip:focus {
	border: 1px solid var(--black);
	color: var(--black);
}
