.user {
	display: block;
	position: fixed;
	top: 6rem;
	right: 4rem;
	border-radius: 2rem;
	width: 20rem;
	height: 15rem;
	background-color: var(--black-8);
	z-index: 100;
}

.user__name {
    display: block;
	position: absolute;
	bottom: 6rem;
	left: 50%;
	transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    color: var(--white);
    font-size: 1.2rem;
}

.user__tokens {
    display: block;
	position: absolute;
	top: 2.3rem;
    left: 1rem;
    color: var(--white);
    font-size: 1.6rem;
}

.user__tokens__value {
    display: inline-block;
    background-color: var(--primary);
    transform: rotateZ(10deg);
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.user__button {
	display: block;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 18rem;
	text-align: center;
	text-decoration: none;
	color: var(--black);
	cursor: pointer;
	transition: all 0.1s ease;
}

.user__button:is(:hover, :focus) {
	box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
		0.5rem 0.5rem 0.5rem var(--black-5) inset,
		-0.5rem -0.5rem 0.5rem var(--white-5) inset;
	background-color: var(--lightgray);
}

@media screen and (max-width: 800px) {
	.user {
		top: 2rem;
		right: 2rem;
	}
}