.meal_list {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 57rem;
}

.meal_list__title {
    font-size: 3rem;
    color: var(--white);
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.meal_list__item {
    position: relative;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 1rem 0;
}

.meal_list__item span {
    display: block;
    color: var(--lightgray);
    padding: 1rem 0;
    border: 1px solid var(--white-3);
    border-radius: 1rem;
}


.meal_list__item button {
    color: var(--white);
    background-color: transparent;
    padding: 1rem 0;
    outline: none;
    border: 1px solid var(--white-3);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.meal_list__item button:hover {
    border: 1px solid var(--primary);
}

@media screen and (max-width: 700px) {
    .meal_list {
        padding: 0 2rem;
        width: 100%;
    }

    .meal_list__title {
        font-size: 2rem
    }
}

@media screen and (max-width: 700px) {
    .meal_list {
        top: 25rem
    }
}