.account-icon {
	margin: 0 auto;
	width: 100%;
	max-width: 35rem;
	background-color: var(--primary-d);
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	font-size: 40vh;
}

@media screen and (max-width: 991px) {
	.account-icon {
		font-size: 30vh;
		max-width: 30rem;
	}
}
