.account-icon {
	margin: 0 auto;
	width: 100%;
	max-width: 35rem;
	background-color: var(--primary-d);
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	color: var(--white);
	font-size: clamp(10rem, 40vw, 20rem);
}

@media screen and (max-width: 991px) {
	.account-icon {
		max-width: 30rem;
	}
}
