.loader {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 5rem;
    border-radius: 2rem;
    background-color: var(--white);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black-3),
        -0.5rem -0.5rem 0.5rem var(--black-5) inset,
        0.5rem 0.5rem 0.5rem var(--white-5) inset;
    opacity: 0;
    animation: loader 0.5s 0.5s ease-in-out forwards;
}

.loader__animation {
    width: 20rem;
    height: 20rem;
}

.loader__text {
    font-size: 1.6rem;
    color: var(--black);
    margin-top: 2rem;
}

@keyframes loader {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    90% {
        opacity: 0.9;
        transform: translate(-50%, -49%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
