/* REUSABLE */
.btn {
	transition: color 0.3s ease, background-color 0.3s ease,
		border-color 0.3s ease, box-shadow 0.3s ease;
}

.btn.btn-primary {
	background-color: var(--black);
	border: 1px solid var(--black);
	border-radius: 1rem;
	transition: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	border: 1px solid transparent;
	background-clip: padding-box;
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
}

.btn.btn-secondary {
	background-color: var(--primary-d);
	padding: 0.375rem 1.25rem;
	border: none;
	border-radius: 1rem;
	transition: none;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
	background-color: var(--secondary);
}

.btn.btn-outline-secondary {
	border-radius: 1rem;
}

.btn.btn-tertiary {
	position: relative;
	padding: 1rem 1.5rem;
	z-index: 0;
}

.btn.btn-tertiary span {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(var(--primary)),
		to(var(--secondary))
	);
	background: linear-gradient(to right, var(--primary), var(--secondary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease;
	z-index: 1;
}

.btn.btn-tertiary:hover span {
	color: var(--white);
	background: none;
	-webkit-background-clip: none;
	-webkit-text-fill-color: var(--white);
}

.btn.btn-tertiary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	background-color: var(--white);
	transition: all 0.3s ease;
	z-index: -1;
}

.btn.btn-tertiary:hover::before {
	background-color: var(--black);
}

/* Section */
.section {
	padding: 5rem 0;
}

.section__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.section__content__icon i {
	font-size: 3rem;
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section__content__title {
	font-weight: 700;
}

.section__content__text {
	color: var(--black-5);
	font-size: ;
}

.section__content__cta {
	text-decoration: none;
	color: var(--primary);
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

.section__img {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 5px 10px var(--primary-d--3);
}

.section__img img {
	width: 100%;
	object-fit: cover;
}

/* Gallery Preview */
.gallery-preview {
	position: relative;
	height: 600px;
	margin: 2rem 0;
}

.gallery-preview__row {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.gallery-preview__row img {
	display: block;
}

.gallery-preview__row--first img {
	width: 300px;
	height: 600px;
	background-color: white;
	border-radius: 2rem;
}

.gallery-preview__row--second img {
	width: 280px;
	height: 560px;
}

.gallery-preview__row--third img {
	width: 260px;
	height: 520px;
}

.gallery-preview__row.gallery-preview__row--third {
	justify-content: space-between;
}

.gallery-preview__row.gallery-preview__row--second {
	gap: 250px;
}

.gallery-preview__row.gallery-preview__row--second::before {
	content: '';
	position: absolute;
	height: 580px;
	width: 910px;
	top: 10px;
	background-color: var(--black-3);
	filter: blur(20px);
	z-index: -1;
}

.gallery-preview__row.gallery-preview__row--first::before {
	content: '';
	position: absolute;
	height: 600px;
	width: 400px;
	top: 0;
	background-color: var(--black-3);
	filter: blur(20px);
	z-index: -1;
}

/* Cards */
.cards {
	gap: 1rem;
	align-items: center;
}

.card-container {
	padding: 5px;
	background-color: var(--black-2);
	border-radius: 1rem;
	height: 450px;
}

.card-container--main {
	height: 500px;
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
}

.card {
	height: 100%;
	border-radius: 0.8rem;
	padding: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.card__title {
	font-size: 1.5rem;
	font-weight: 600;
}

.card__price {
	font-size: 4rem;
	font-weight: 200;
	color: var(--primary-d);
}

.card__description {
	font-size: 1.2rem;
	font-weight: 700;
}

.card__list {
	list-style: none;
	padding: 0;
	margin-top: 1rem;
}

.card__list i {
	color: #75b812;
	font-size: 1.2rem;
}

/* STATIC ELEMENTS */
/* Navbar */
.navbar {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: transparent;
}

@media screen and (max-width: 991px) {
	.navbar {
		background-color: var(--white);
	}
}

.navbar-light .navbar-brand {
	color: var(--primary);
	font-size: 1.6rem;
	font-weight: bold;
}

.navbar-light .navbar-brand span {
	color: var(--secondary);
}

.navbar.fixed-top {
	position: fixed;
	top: -100%;
	animation: slide-from-top 0.5s ease forwards;
}

@keyframes slide-from-top {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

/* Banner */
.main-banner {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	height: 100vh;
	max-height: 800px;
	background: url('../images/banner-bg.jpg') center top no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-banner .row {
	align-items: center;
}

.main-banner .banner-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
}

.main-banner .display-4 {
	font-weight: 600;
}

.main-banner .display-4 div {
	color: var(--primary);
}

.main-banner .btn-primary {
	margin-right: 1rem;
}

.main-banner .banner-moc-box {
	position: relative;
	height: 40rem;
	width: fit-content;
	margin: 0 auto;
	z-index: 1;
}

.main-banner .banner-moc-box::after {
	content: '';
	position: absolute;
	bottom: -1rem;
	left: -25%;
	width: 150%;
	height: 4rem;
	background-color: var(--black-2);
	z-index: -1;
	border-radius: 50%;
	filter: blur(1rem);
}

.main-banner .banner-moc-box img {
	object-fit: contain;
	height: 100%;
}

/* COUNTER */
.counter-container {
	margin-top: 2rem;
}

.counter-container p {
	text-align: center;
	font-size: 1.4rem;
}

.counter-container p .counter {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#6541c1),
		color-stop(98%, #d43396),
		to(#d43396)
	);
	background: linear-gradient(
		to right,
		#6541c1 0%,
		#d43396 98%,
		#d43396 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 200;
	font-size: 53px;
}

/* Features */
#features {
	padding: 5rem 0;
}

#features .display-6 {
	font-weight: 700;
}

.features-carousel__container {
	position: relative;
}

#features-carousel {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 5rem 0;
	display: flex;
	flex-wrap: nowrap;
	gap: 5rem;
	overflow: hidden;
}

.features-carousel__item {
	position: relative;
	z-index: 1;
	height: 17rem;
	width: calc((100% - 10rem) / 3);
	flex-grow: 1;
	flex-shrink: 0;
	cursor: default;
}

.features-carousel__item::after {
	content: '';
	z-index: -1;
	position: absolute;
	border-radius: 0.25rem;
	height: 0.25rem;
	bottom: 0;
	left: 50%;
	width: 20%;
	transform: translateX(-50%);
	transition: width 0.3s ease;
}

.features-carousel__item:hover::after,
.features-carousel__item--active::after {
	width: 100%;
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
}

.features-carousel__item__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
	width: 4rem;
	height: 4rem;
}

.features-carousel__item__icon i {
	font-size: 3rem;
	color: var(--black-5);
}

.features-carousel__item:hover .features-carousel__item__icon i,
.features-carousel__item--active .features-carousel__item__icon i {
	transition: transform 0.3s ease;
	font-size: 3rem;
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.features-carousel__item--active:hover .features-carousel__item__icon i {
	transform: translateY(-5px);
}

.features-carousel__item__title {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.features-carousel__item__text {
	color: var(--black-5);
}

.features-carousel__control {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
	padding: 0.5rem 0.75rem;
	border-radius: 2rem;
	transition: background-color 0.3s ease;
}

.features-carousel__control:hover {
	background-color: var(--black-2);
}

.features-carousel__control i {
	color: var(--primary);
}

.features-carousel__control--prev {
	left: -3rem;
}

.features-carousel__control--next {
	right: -3rem;
}

/* How it Works */
#how-it-works {
	padding-top: 5rem;
}

.hiw-images {
	position: relative;
	height: 45rem;
}

.hiw-images img {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hiw-images__main {
	z-index: 1;
}

.hiw-content .display-6 {
	font-weight: 700;
}

.hiw-content dl .row {
	margin-top: 4rem;
}

.hiw-content dl dt {
	font-size: 1.6rem;
}

.hiw-content dl dd {
	color: var(--black-5);
	line-height: 1.7;
}

.hiw-content dl .row .col-3 {
	position: relative;
}

.hiw-content__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
	width: fit-content;
	height: fit-content;
	border-radius: 100%;
	z-index: -1;
}
.hiw-content__icon::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	transform: translate(-50%, -50%);
	border-radius: 100%;
	background-color: var(--white);
	z-index: -1;
}

.hiw-content__icon.hiw-content__icon.hiw-content__icon--active::before {
	display: none;
}

.hiw-content__icon i {
	z-index: 10;
	display: inline-block;
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	border: none;
	font-size: 2.5rem;
	text-align: center;
	vertical-align: middle;
	background-image: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hiw-content__icon.hiw-content__icon--active i {
	color: var(--white);
	background-color: var(--white);
	background-image: none;
	background-clip: none;
	-webkit-background-clip: none;
	-webkit-text-fill-color: none;
}

.hiw-content__line {
	position: relative;
}

.hiw-content__line::before {
	content: '';
	background-image: url('../images/gradient-sep.png');
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
	height: 600px;
	z-index: -10;
}

/* FOOTER */
.footer {
	max-width: 1920px;
	margin: 0 auto;
	margin-top: 5rem;
	padding: 5rem 0;
	background-image: url('../images/footer-bg.png');
	background-size: cover;
	background-position: center top;
}

.sub-form {
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-image: linear-gradient(
		to right,
		var(--primary-d),
		var(--secondary)
	);
	border-radius: 5rem;
}

.sub-form__input {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.sub-form__input i {
	margin-left: 2rem;
	font-size: 2rem;
	color: white;
}

.sub-form__input input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--white);
	outline: none;
	color: var(--white);
	font-size: 1.2rem;
}

.footer__info {
	margin-top: 5rem;
}

.footer__info__title {
	font-size: 2.4rem;
	color: var(--primary);
	font-weight: 600;
	letter-spacing: -2px;
	margin-bottom: 2rem;
}

.footer__info__subtitle {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -2px;
	margin-bottom: 2.6rem;
}

.footer__info__title span {
	color: var(--secondary);
}

.footer__info__text {
	color: var(--black-5);
}

.footer__info__text__icon {
	color: #00ffff;
}

.footer__info__text__author {
	display: block;
	margin-top: 1rem;
	color: var(--primary);
}

.footer__info__social {
	list-style: none;
	display: flex;
	gap: 1rem;
	padding: 0;
}

.footer__info__social li a i {
	font-size: 1.2rem;
	color: var(--black-5);
}

.footer__info__social li a:hover i {
	color: var(--secondary);
}

.footer__info__list div dt,
.footer__info__list div dd {
	display: inline;
	line-height: 2rem;
}

.footer__info__link-list {
	padding: 0;
	list-style: none;
}

.footer__info__link-list li {
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.footer__info__link-list li a {
	text-decoration: none;
	font-weight: 600;
	color: var(--black);
}

.footer__info__link-list li a:hover {
	color: var(--secondary);
}
